@{
    Layout = "~/Views/Shared/_LayoutAccounts.cshtml";
    ViewData["Title"] = "Page Not Found";
}

<div class="container p-5">
    <div class="d-flex justify-content-center align-items-center">
        <img class="" src="~/images/404-Page-image.png" />
    </div>
</div>